.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;

    .container {
        width: var(--default-layout-width);
        margin-top: var(--default-layout-header-height);
        min-height: 800px;
        padding: 0 24px 0 20px;
        display: flex;
        justify-content: space-between;

        .content {
            width: 692px;
            margin: 0 16px;
            background-color: #999;
        }
    }
}