.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100px;
    font-size: 1.6rem;
    font-weight: 700;
    padding: 8px 8px;
    border-radius: 4px;
    border: 1px solid transparent;
    background-color: #fff;
    user-select: none;
    cursor: pointer;

    + .wrapper {
        margin-left: 8px;
    }
}

.primary {
    background-color: var(--primary-color);
    color: #fff;

    &:hover {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)),#FE2C55;
    }
}

.outline {
    color: var(--primary-color);
    border-color: currentColor;

    &:hover {
        background-color: rgba(254, 44, 85, 0.06);;
    }
}

.small {
    min-width: 88px;
    padding: 4px 16px;
}

.large {
    min-width: 136px;
    padding: 14px 16px;
}

.text {
    border: 1px solid #e7e7e7;

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.rounded {
    border: 1px solid rgba(22, 24, 35, 0.12);;
    border-radius: 999px;
    box-shadow: 0 2px 8px rgb(0 0 0 / 6%);

    &:hover {
        border-color: rgba(22, 24, 35, 0.2);
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.disabled {
    pointer-events: none;
    opacity: .5;
}