.wrapper {
    display: flex;
    justify-content: center;
    height: var(--default-layout-header-height, 60px);
    width: 100%;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);

    .inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        width: var(--default-layout-width);
        padding: 0 24px 0 20px;

        .tiktok-logo {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .headerCenterContainer {
            position: relative;
            height: 48px;
            
            .headerSearchForm {
                position: relative;
                display: flex;
                -webkit-flex-direction: row;
                -ms-flex-direction: row;
                flex-direction: row;
                -webkit-align-items: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                padding: 10px 16px;
                background: rgba(22, 24, 35, 0.06);
                border-radius: 92px;
                border: 2px solid transparent;
                position: relative;
                overflow: hidden;
                z-index: 1;
                margin: 0;

                .headerSearchInput {
                    font-weight: 400;
                    font-size: 1.6rem;
                    line-height: 22px;
                    border: none;
                    color: #666;
                    background: transparent;
                    outline: none;
                    padding: 0;
                    width: 292px;
                    caret-color: rgba(254, 44, 85, 1.0);
                    -webkit-appearance: textfield;
                    -moz-appearance: textfield;
                    -ms-appearance: textfield;
                    appearance: textfield;
                } 
                .headerSearchInput:not(:placeholder-shown) ~ .headerSearchBtn {
                    color: rgba(22, 24, 35, 0.7);
                }
                
                .headerSearchBtn {
                    padding: 13px 19px 13px 16px;
                    margin: -12px -16px;
                    font-size: 1.7rem;
                    cursor: pointer;
                    outline: none;
                    border: none;
                    background: transparent;
                    margin-left: 0;
                    color: rgba(22, 24, 35, 0.34);

                    &:hover {
                        background-color: rgba(153, 153, 153, .1);
                    }
                    &:active { 
                        background: rgba(22, 24, 35, 0.06);
                    }
                }

                &::after {
                    content: "";
                    position: absolute;
                    height: 60%;
                    width: 1.5px;
                    background-color: rgb(208, 208, 208);
                    right: 5.2rem;
                }
                &:focus-within {
                    border-color: #dcdcdc;
                }
            }
        }
        .headerCenterContainer, 
        .box-result {
            width: 361px;
        }

        .headerRightContainer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 272px;
            height: 36px;

            .box-menu {
                width: 232px;
            }
        }
    }
}

.search-title {
    height: 30px;
    padding: 5px 12px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    color: rgba(22, 24, 35, 0.5);
}

.close,
.loading {
    position: absolute;
    right: 5.8rem;
    padding: 2px 8px;
    color: rgba(22, 24, 35, 0.34);
    border: none;
    font-size: 1.6rem;

    &:hover {
        cursor: pointer;
    }
}

.uploadIcon {
    margin-right: 8px;
}

.messageBtn,
.notiBtn {
    width: 40px;
    height: 32px;
    padding: 0 4px;
    background-color: transparent;
    cursor: pointer;
}

.messageIcon,
.notiIcon {
    color: #161823;
    font-size: 2.2rem;
}

.userButton {
    
}
.userImg {
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.moreBtn {
    width: 2rem;
    padding: 4px 8px;
    margin-left: 8px;
    background-color: transparent;
    cursor: pointer;
}
.moreIcon {
    font-size: 2rem;
}