.wrapper {
    display: flex;
    justify-content: center;
    height: var(--default-layout-header-height, 60px);
    width: 100%;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);

    .inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        width: var(--default-layout-width);
        padding: 0 24px 0 20px;

        .tiktok-logo {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .headerRightContainer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 272px;
            height: 36px;

            .box-menu {
                width: 232px;
            }
        }
    }
}

.search-title {
    height: 30px;
    padding: 5px 12px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    color: rgba(22, 24, 35, 0.5);
}

.uploadIcon {
    margin-right: 8px;
}

.messageBtn,
.notiBtn {
    position: relative;
    width: 40px;
    height: 32px;
    padding: 0 4px;
    background-color: transparent;
    cursor: pointer;

    .notiLabel {
        position: absolute;
        transform: translateX(16px);
        top: -4px;
        font-weight: normal;
        padding: 1px 4px;
        background-color: #d90429;
        color: #fff;
        border-radius: 8px;
    }
}

.messageIcon,
.notiIcon {
    color: #161823;
    font-size: 2.2rem;
}

.userButton {
    
}
.userImg {
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.moreBtn {
    width: 2rem;
    padding: 4px 8px;
    margin-left: 8px;
    background-color: transparent;
    cursor: pointer;
}
.moreIcon {
    font-size: 2rem;
}